<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <style>
        html, body {
            padding: 0;
            margin: 0;
            height: 100%;
        }
        .box {
            width: 100%;
            height: 100%;
            background-color: white;
            text-align: center;  /*文本水平居中*/
            padding-top: 15%;
        }
    </style>
</head>
<body>

<div class="box">
    <h1>发生404错误，可能您访问了不存在的网址</h1>
    <span id="counter"></span>秒后 <a href="home">返回首页</a>
</div>

<script>
    var $counter = document.getElementById('counter');
    function countDown(secs)
    {
        $counter.innerText=secs;
        if(--secs>0)
        {
            setTimeout("countDown("+secs+")",1000);
        }
        if(secs==0)
        {
            location.href = "home";
        }
    }
    countDown(5);
</script>

</body>
</html>